body {
  padding-left: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#errorMessage{
	color:red;
}
table{
}
.formHolder{
	width:50%;
	display: inline-block;
}

th{
}